#imager-wrapper {
  $background: #4d4d6d;
  #imager-viewer {
    background-color: $background;

    #imager-canvas-wrapper {
      #imager-canvas {
        vertical-align: bottom;
        background: darken($background, 25%);
      }

      #imager-canvas2 {
        position: absolute;
        vertical-align: bottom;
        background: darkmagenta;
        display: none;
      }
    }
    #button-wrapper {
      color: $color-black;
      background-color: $background;
      .imager-buttons {
        border-radius: 2px;
        margin: 0px 0px 4px;
        padding: 4px 0 3px;
        background-color: lighten($background, 50%);
      }
    }
  }
  .imager-popup {
    background: $background;
    border-radius: 6px;
  }
}
