.view-theories {
  &.theories-1 {
    .view-content {
      column-count: 1;
    }
  }
  &.theories-2 {
    .view-content {
      column-count: 2;
    }
  }
  &.theories-3 {
    .view-content {
      column-count: 3;
    }
  }
  &.theories-4 {
    .view-content {
      column-count: 4;
    }
  }

  .view-content {

    span.field-content {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 1.4em;
    }


    /*
    span a {
      &.Michael {
        color: $color-orange;
      }
      &.James {
        color: #f9f;
      }
      &.Both {
        color: #7bf;
      }
      &.None {
        //      color: #3af;
      }
    }
    */

    ul {
      list-style: none;
    }

    > ul:first-of-type {
      margin-top: -10px;
    }

    > ul {
      padding-left: 0;
      > li {
        > div > span {
          font-style: italic;
          font-weight: bold;
          font-size: 150%;
          color: $color-light-green;
          padding-bottom: 1.4em;
        }
      }
    }

    > ul > li > ul {
      padding-left: 5px;
      list-style: none;
      font-size: 90%;
      li {
        color: #eee;
      }
      ul {
        padding-left: 15px;
      }
      span.field-content {
        &::before {
          display: inline-block;
          color: black;
          font-family: courier;
          font-weight: bold;
          content: 'z';
          line-height: 1;
          padding: 1px 2px 0;
          border-radius: 2px
        }

        &.Empty {
          visibility: hidden;
        }

        &.James {
          &::before {
            background-color: $color-purple-red;
            content: 'J';
          }
        }

        &.Michael {
          &::before {
            background-color: $color-light-gold;
            content: 'M'
          }
        }

        &.Both {
          &::before {
            background-color: $color-cyan;
            content: 'B'
          }
        }
      }
    }
  }
}
