@use "sass:math";
/*
.field--name-field-paragraphs {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  .field--name-field-body {
    margin-top: 1rem;
  }
  iframe {
    width: 100%;
  }
}
*/

$col_gap: 1rem;

article.type-paragraphs {
  .field--name-body {
    max-width: 960px;
  }

  .field--name-field-paragraphs {
    margin-top: 2rem;
    display: flex;
  //gap: 10px;
    flex-wrap: wrap;
  //flex-flow: column wrap;
    > .field__item {
      flex-grow: 1;
      margin: .5rem;
      width: 100%;
      max-width: calc(100% - #{$col_gap});
      @include media($bp580) {
//      width: 48%;
        max-width: calc(50% - #{$col_gap});
      }
      @include media($bp960) {
//      width: 30%;
        max-width: calc(33.333% - #{$col_gap});
      }
      @include media($bp1280) {
//      width: 23%;
        max-width: calc(25% - #{$col_gap});
      }
    }
    .field--name-field-body {
      margin-top: 1rem;
    }
    iframe {
      width: 100%;
    }
  }

  .field--name-field-more-link {
    float: right;
    margin-left: 1rem;
    margin-top: 5px;
  }

  .paragraph {
    > .field--name-field-title {
      @extend h3;
    }
  }

  .paragraph--type--card {
    border: 3px solid #293;
    padding: 1rem;
    border-radius: 10px;

    .information ,
    h3 {
      display: none;
      margin: 1rem 0 .5rem;
    }
  }
}
