.card {
  border-radius: 5px;
  padding: .7em;
  background: $base3-background-color;
  text-align: center;
  h6 {
    margin-bottom: .5em;
  }
  article {
    border-radius: 3px;
    h2 {
      display: none

    }
    .field--name-field-configuration-file {
      display: none;
    }
  }
}
