#toolbar-bar {

  .toolbar-box {
    a::before {
      width: 20px;
    }
  }

  .toolbar-menu {
    height: 2rem;
  }

  .toolbar-icon {
    height: 24px;
  }

  a {
    color: #56d;
  }

  .toolbar-menu-administration {

    > ul > li > ul {
      font-size: 13px;
      line-height: 1.3em;
      padding: 5px;

      a {
        padding: 6px 1em;
      }
    }
  }
}
