
/*
article.embedded-entity {

  &.az-small {
    .az-canvas-wrapper {
      width: 480px;
      height: 360px;
    }
  }

  &.az-medium {
    .az-canvas-wrapper {
      width: 520px;
      height: 400px;
    }
  }

  &.az-large {
    .az-canvas-wrapper {
      width: 800px;
      height: 600px;
    }
  }
}
*/


