#imager-wrapper {

  .imager-popup {
    background-color: #466;
    color: white;
  }

  #imager-viewer {
    background-color: #1a2020;
  }

  #button-wrapper {
    background-color: #666;
    color: white;
    .imager-buttons {
      background-color: #ddd;
      margin: 5px 0;
      border-radius: 4px;

      > div {
        color: black;
        margin: 5px 0;
      }
    }
  }
}
